 @media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -300%;
        transition: all 0.3s;
        z-index: 20;
        background-color: rgb(13, 13, 13);
        width: 350px;
    }

    .back {
        opacity: 1;
    }

    .card {
        height: 43vh;
    }

    .right {
        width: 99vw;
        left: 0;
        display: grid;
        place-content: center;

    }


    .playbar {
        width: 92vw;

    }

    .secondbox {
        position: absolute;
        left: -100%;
        transition: all 0.3s;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 2.5vh;
        left: 70px;
    }
    
}

@media (max-width: 500px) {
    .playbar {
        left: 1px;

    }

    .back {
        opacity: 1;
    }

    .songbutton {
        height: 18px;
        width: 50px;
    }

    .songtime {
        position: absolute;
        width: 120px;
        font-size: 13px;
        right: -23px;
    }

    .songinfo {
        position: relative;
        width: 120px;
        font-size: 13px;
    }
}


@media (max-width: 600px) {

    .card {
        height: 23vh;
        font-size: 12px;
    }

    .back {
        opacity: 1;
    }

}

@media (max-width: 913px) {
    .card {
        height: 22vh;
    }

    .back {
        opacity: 1;
    }

    #search {
        bottom: 40px;
        height: 35px;
    }

    .nav .both ul {
        top: -10px;
        left: 278px;
    }

    .btn {
        bottom: 90px;
    }

    .btn>button {
        width: 80px;

    }
}

@media (max-width: 810px) {

    #search {
        bottom: 23px;
        height: 35px;
    }

    .nav .both ul {
        position: fixed;
        top: -10px;
        left: 270px;
    }

    .btn {
        bottom: 90px;
    }

    .btn>button {
        width: 80px;

    }
}

@media (max-width: 435px) {
    .hamburger {
        left: 50px;
    }

    #search {
        bottom: 30px;
        height: 30px;
        left: 110px;
        width: 160px;
        padding-left: 30px;
    }

    .nav .both ul {
        position: fixed;
        top: -21px;
        left: 92px;
        gap: 15px;
    }

    .nav .both ul li {
        width: 3vw;

    }

    .btn {
        bottom: 60px;
        left: 200px;
    }

    .btn>button {
        width: 50px;
        height: 30px;
        font-size: 10px;

    }
}

@media (max-width: 690px) {
    .hamburger {
        left: 60px;
    }

    #search {
        bottom: 30px;
        height: 30px;
        left: 180px;
        width: 220px;
        padding-left: 30px;
    }

    .nav .both ul {
        position: fixed;
        top: -21px;
        left: 153px;
        gap: 15px;
    }

    .nav .both ul li {
        width: 3vw;

    }

    .btn {
        bottom: 60px;
        left: 270px;
    }

    .btn>button {
        width: 65px;
        height: 30px;
        font-size: 15px;

    }
} 


@media (max-width: 575.98px) {

    .left {
        position: absolute;
        left: -300%;
        transition: all 0.3s;
        z-index: 20;
        background-color: rgb(13, 13, 13);
        width: 350px;
    }


    .back {
        opacity: 1;
        left: 62vw;
    }

    .card {
        display: block;
        height: 55vh;
        z-index: 15;
        margin: 8px;
    }

    .cardContainer {
        display: block;
        height: 295vh;
        width: 92%;
    }

    .play-button {
        top: 40.2vh;
        left: 56vw;

    }

    .globe {

        right: 11.9vw;
    }

    .eng>button {

        width: 15.5vw;
        font-size: 2vw;
    }

    .right {
        width: 160%;
        left: 5vw;
        display: grid;
        place-content: center;

    }

    #search {
        width: 65%;
        left: 25.3vw;
        margin: 4%;
    }

    .nav .both ul {
        top: -1.8vh;
        left: 23vw;
        gap: 5%;
    }

    .nav .both ul li {
        width: 3.8vw;
    }

    .playbar {
        width: 80vw;
        height: 14.5vh;
        z-index: 15;
        right: 5.5%;
        border-radius: 30px;
    }

    .secondbox {
        position: absolute;
        left: -100%;
        transition: all 0.3s;
    }

    .seekbar {
        width: 80vw;
    }

    .songbutton {
        bottom: 65%;
        right: 32.9%;
    }

    .above {
        display: block;
        position: relative;
        top: 40%;
        left: 35%;
    }
    .songtime{
        position: relative;
        left: 3.5%;
    }

    .timevol {
        display: block;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 2.5vh;
        left: 70px;
    }

    .navbtn {

        width: 12vw;

    }

    .btn {

        left: 45vw;
        bottom: 16.5vh;
    }


}

@media (min-width: 576px) and (max-width: 767.98px) {

    .left {
        position: absolute;
        left: -300%;
        transition: all 0.3s;
        z-index: 20;
        background-color: rgb(13, 13, 13);
        width: 350px;
    }


    .back {
        opacity: 1;
        left: 62vw;
    }

    .card {
        display: block;
        height: 55vh;
        z-index: 15;
        margin: 8px;
    }

    .cardContainer {
        display: block;
        height: 295vh;
        width: 92%;
    }

    .play-button {
        top: 40.2vh;
        left: 56vw;

    }

    .globe {

        right: 11.9vw;
    }

    .eng>button {

        width: 15.5vw;
        font-size: 2vw;
    }

    .right {
        width: 160%;
        left: 5vw;
        display: grid;
        place-content: center;

    }

    #search {
        width: 65%;
        left: 25.3vw;
        margin: 4%;
    }

    .nav .both ul {
        top: -1.8vh;
        left: 23vw;
        gap: 5%;
    }

    .nav .both ul li {
        width: 3.8vw;
    }

    .playbar {
        width: 80vw;
        height: 14.5vh;
        z-index: 15;
        right: 5.5%;
        border-radius: 30px;
    }

    .secondbox {
        position: absolute;
        left: -100%;
        transition: all 0.3s;
    }

    .seekbar {
        width: 80vw;
    }

    .songbutton {
        bottom: 65%;
        right: 32.9%;
    }

    .above {
        display: block;
        position: relative;
        top: 40%;
        left: 35%;
    }
    .songtime{
        position: relative;
        left: 3.5%;
    }

    .timevol {
        display: block;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 2.5vh;
        left: 70px;
    }

    .navbtn {

        width: 12vw;

    }

    .btn {

        left: 45vw;
        bottom: 16.5vh;
    }


}
@media (min-width: 768px) and (max-width: 991.98px) {



}