:root {
    --a: 0;
}


.left {
    width: 25.35vw;
    height: 90vh;
    background-color: #121212;
    position: absolute;
    top: 7vh;
    left: -0.25vw;
}

.right {
    width: 72.8vw;
    height: 90vh;
    background-color: #121212;
    position: absolute;
    top: 7vh;
    left: 25.7vw;
}

.library ul li {
    list-style: none;
    display: flex;
    align-items: center;
    color: #4c4c4c;
    font-size: 2vw;
    font-weight: 700;
    padding: 1vh 0;
    position: relative;
    left: 1vw;
    bottom: 15px;
}

.library ul li img {
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    position: relative;
    top: 1vh;
    left: 1vw;
}

.library ul li span {
    font-size: 1.2vw;
    display: inline;
    position: relative;
    top: 1vh;
    left: 1vw;
}

.nav .both ul li {
    width: 1.8vw;
    list-style: none;


}

.nav .both ul {
    position: relative;
    top: -2.8vh;
    left: 34vw;
    display: flex;
    gap: 1vw;
}

.nav .logo img {
    position: relative;
    left: 2vw;
    top: 2vh;
}

.timevol{
    display: flex;
}

.secondbox {
    background-color: #1f1f1f;
    z-index: 1;
    position: absolute;
    top: 50vh;
    left: 0.4vw;
    width: 24vw;
    height: 100%;
}

.btn {
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 42vw;
    bottom: 13.5vh;
}

.navbtn {
    font-weight: 900;
    height: 5vh;
    width: 7vw;
    margin: 1vh;
    border-radius: 100px;
}

#search {
    height: 5vh;
    background: #333;
    position: relative;
    left: 36.3vw;
    width: 48%;
    border-radius: 105px;
    bottom: 7.9vh;
    opacity: 55%;
    border: 2px solid #1f1f1f;
    color: white;
    padding-left: 40px;
}

#search:hover {
    transform: scale(1.01);
    border: 2px solid #ffffff;
    color: white;
}

#search input {
    height: 4vh;
    width: 100%;
    background-color: #333;
    border: none;
    padding: 1vh;
    border-radius: 5px;
}

.globe {
    width: 2.2vh;
    position: relative;
    top: 73vh;
    right: 3.9vw;
}

.eng>button {
    position: relative;
    top: 73vh;
    left: 2vw;
    border-radius: 500px;
    width: 6.5vw;
    padding-left: 18px;
    font-weight: 900;
    font-size: 1vw;
    cursor: pointer;

}

.card {
    width: 100%;
    height: 35%;
    background-color: #252525;
    margin: 2px;
    border-radius: 6px;
    position: relative;

}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 6px;

}

.cardContainer {
    display: flex;
    gap: 3px;
    padding: 10px;
    margin: inherit;

}
.harrdy img {
    width: 100%;
    border-radius: 6px;
    object-fit: contain;
}

.play-button {
    width: 40px;
    height: 40px;
    background-color: #1ED760;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 18.2vh;
    left: 8.5vw;
    opacity: var(--a);
    transition: all 0.5s ease-out;
}

.play-button:hover {
    opacity: 1;
}

.login {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.login:hover {
    color: black;
    background-color: white;
    border: 2px solid white;
    font-size: 1.1rem;

}

.sign:hover {
    transform: scale(1.08);
    font-size: 1rem;
}

.anchor {
    position: relative;
    top: 25vh;
}

.tworow {
    margin: 3px;
    padding-left: 19px;
    padding-bottom: 8px;
    font-size: 12px;

}

.firstrow {

    font-size: 12px;
}

.thirdrow>a {
    color: white;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #aeadad;
}

.playbar {
    position: fixed;
    bottom: 8px;
    margin: 10px;
    width: 69.8%;
    background-color: #e2d9d9;
    filter: invert(1);
    padding: 12px;
    border-radius: 20px;
    right: 10px;
}

.playbar:hover {

    background-color: #c1c1c1;
    transform: scale(1.009);
}

.songbutton {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-right: 60px;
    position: fixed;
    left: 44%;
    bottom: 30%;
}

.songList ul li {
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0px;
    border: 1px solid white;
    margin: 12px 0px;
    padding: 15px;
    border-radius: 8px;
    justify-content: space-between;
}

.songList {
    height: 200px;
    overflow-y: auto;
    padding: 0 12px;
    position: relative;
    top: -30px;
}

.songList .info {
    width: 344px;

}

.playnow span {
    font-size: 15px;
    width: 70px;
    position: relative;
    left: 10px;
}

.playnow img {

    position: relative;
    left: 6px;
}

.seekbar {
    height: 1.5px;
    width: 98.5%;
    border: 2px solid rgb(106, 106, 106);
    position: absolute;
    right: 6px;
    bottom: 0;
    border-radius: 100px;
    margin: 2.5px;
    box-shadow: 0px 0px 10px rgba(196, 15, 15, 0.5);
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 20px;
    background-color: rgb(79, 79, 79);
    position: relative;
    top: -6px;
    left: -1.5px;
    transition: left 0.5s;
}

.above {
    display: flex;
    justify-content: space-between;

}

.hamburger {
    display: none;
    filter: invert(1);
    position: absolute;
    top: 2.5vh;
    left: 32vw;
}

.back {
    position: relative;
    left: 320px;
    top: 15px;
    opacity: 0;
    width: 70px;
}

.songinfo {
    word-break: break-all;
}

.timevol {
    gap: 25px;
}

.volume {
    display: flex;
    align-items: center;
    gap: 10px;
}

#soundbar {
    width: 80px;
    height: 3px;
    position: relative;
    bottom: 4px;
}

.card:hover {
    background-color: #444444;
    transition: all 0.7s;
    --a: 1;
}
