* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 50, 0.79), rgba(0, 0, 0, 1) 50%), #000000;
    width: 55vw;
}

.justify-content {
    justify-content: center;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.border {
    border-radius: 8px;
    margin: 1vw;
}

.invert {
    filter: invert(1);
}

.libone {
    font-size: 1.2vw;
    font-weight: 700;
    margin: 1.3vw;

}

.libtwo {
    font-size: 0.9vw;
    font-weight: 400;
    margin: 0.7vw;
    margin-top: -1.5vh;
    padding: 1.5vh;
    padding-top: 0;
}

.button {
    border-radius: 100px;
    margin: 1.5vw;
    padding: 1vh;
    position: relative;
    bottom: 4vh;
    width: 10vw;
    font-weight: bold;
    font-size: 1vw;
}

.eng {
    display: flex;
    align-items: stretch;
    gap: 3px;
    height: 5vh;

}

.padding {
    padding: 0.5vw;
    margin-left: 1vw;
    padding-top: 1.5vh;
}


.card:hover {
    transform: scale(1.05);
}

.parentcontainer {
    overflow-y: scroll;
    max-height: 70vh;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #121212;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.gap {
    gap: 10px;
}

.black {
    color: black;
}

.pointer {
    cursor: pointer;
}